CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7981=y
CONFIG_TARGET_mediatek_mt7981_DEVICE_jcg_q30=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ipset=y

CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kmod-ipt-nat=y

CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dnsmasq-full=n
CONFIG_PACKAGE_smartdns=n



# Docker
CONFIG_PACKAGE_docker=n
CONFIG_PACKAGE_dockerd=n

# LuCI 杂项
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-hd-idle=n


CONFIG_PACKAGE_odhcpd-ipv6only=n
CONFIG_PACKAGE_kmod-ipv6=n
CONFIG_PACKAGE_ip6tables=n

# cfg80211 / mac80211 基础
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y

# MTK WiFi 6 核心驱动
CONFIG_PACKAGE_kmod-mt76=y
CONFIG_PACKAGE_kmod-mt76-core=y
CONFIG_PACKAGE_kmod-mt76-connac=y
CONFIG_PACKAGE_kmod-mt76-mt7976=y
CONFIG_PACKAGE_mtk-wifi-firmware=y
# 推荐：最小 wpad
CONFIG_PACKAGE_wpad-basic-mbedtls=y

# 明确禁用体积大的
CONFIG_PACKAGE_wpad-basic-wolfssl=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_wpa-supplicant=n
CONFIG_PACKAGE_hostapd=n

CONFIG_PACKAGE_luci-app-wireless=y


CONFIG_PACKAGE_kmod-mt7915e=n
CONFIG_PACKAGE_kmod-mt7921e=n
CONFIG_PACKAGE_kmod-ath9k=n
CONFIG_PACKAGE_kmod-brcmfmac=n



